USE [master]
GO
/****** Object:  Database [CB_0.2]    Script Date: 6/06/2025 16:36:26 ******/
CREATE DATABASE [CB_0.2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CB_0.2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CB_0.2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CB_0.2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CB_0.2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CB_0.2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CB_0.2]
GO
/****** Object:  Table [dbo].[Betaling]    Script Date: 6/06/2025 16:36:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Betaling](
	[BetalingId] [int] IDENTITY(1,1) NOT NULL,
	[GebruikerId] [int] NOT NULL,
	[CadeaubonId] [int] NOT NULL,
	[StripeBetalingId] [nvarchar](100) NOT NULL,
	[BetaalMethode] [nvarchar](50) NULL,
	[BetalingDatum] [datetime] NOT NULL,
	[Bedrag] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BetalingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cadeaubon]    Script Date: 6/06/2025 16:36:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cadeaubon](
	[CadeaubonId] [int] IDENTITY(1,1) NOT NULL,
	[GebruikerId] [int] NOT NULL,
	[ThemaId] [int] NOT NULL,
	[Bedrag] [decimal](10, 2) NOT NULL,
	[Saldo] [decimal](10, 2) NOT NULL,
	[VervalDatum] [date] NOT NULL,
	[CadeaubonCode] [nvarchar](50) NOT NULL,
	[AanmaakDatum] [datetime] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CadeaubonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CadeaubonCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gebruiker]    Script Date: 6/06/2025 16:36:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gebruiker](
	[GebruikerId] [int] IDENTITY(1,1) NOT NULL,
	[Naam] [nvarchar](100) NOT NULL,
	[Achternaam] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Wachtwoord] [nvarchar](255) NOT NULL,
	[AanmaakDatum] [datetime] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GebruikerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thema]    Script Date: 6/06/2025 16:36:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thema](
	[ThemaId] [int] IDENTITY(1,1) NOT NULL,
	[Naam] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ThemaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactie]    Script Date: 6/06/2025 16:36:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactie](
	[TransactieId] [int] IDENTITY(1,1) NOT NULL,
	[CadeaubonId] [int] NOT NULL,
	[Bedrag] [decimal](10, 2) NOT NULL,
	[Datum] [datetime] NOT NULL,
	[Reden] [nvarchar](255) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[StripeBetalingId] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Betaling] ADD  DEFAULT (getdate()) FOR [BetalingDatum]
GO
ALTER TABLE [dbo].[Cadeaubon] ADD  DEFAULT (getdate()) FOR [AanmaakDatum]
GO
ALTER TABLE [dbo].[Gebruiker] ADD  DEFAULT (getdate()) FOR [AanmaakDatum]
GO
ALTER TABLE [dbo].[Gebruiker] ADD  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[Transactie] ADD  DEFAULT (getdate()) FOR [Datum]
GO
ALTER TABLE [dbo].[Betaling]  WITH CHECK ADD FOREIGN KEY([CadeaubonId])
REFERENCES [dbo].[Cadeaubon] ([CadeaubonId])
GO
ALTER TABLE [dbo].[Betaling]  WITH CHECK ADD FOREIGN KEY([GebruikerId])
REFERENCES [dbo].[Gebruiker] ([GebruikerId])
GO
ALTER TABLE [dbo].[Cadeaubon]  WITH CHECK ADD FOREIGN KEY([GebruikerId])
REFERENCES [dbo].[Gebruiker] ([GebruikerId])
GO
ALTER TABLE [dbo].[Cadeaubon]  WITH CHECK ADD FOREIGN KEY([ThemaId])
REFERENCES [dbo].[Thema] ([ThemaId])
GO
ALTER TABLE [dbo].[Transactie]  WITH CHECK ADD FOREIGN KEY([CadeaubonId])
REFERENCES [dbo].[Cadeaubon] ([CadeaubonId])
GO
ALTER TABLE [dbo].[Cadeaubon]  WITH CHECK ADD CHECK  (([Status]='verbruikt' OR [Status]='verlopen' OR [Status]='actief'))
GO
ALTER TABLE [dbo].[Transactie]  WITH CHECK ADD CHECK  (([Status]='geannuleerd' OR [Status]='bevestigd'))
GO
ALTER TABLE [dbo].[Transactie]  WITH CHECK ADD  CONSTRAINT [CK_Transactie_Status] CHECK  (([Status]='betaald' OR [Status]='voltooid' OR [Status]='bevestigd' OR [Status]='geannuleerd'))
GO
ALTER TABLE [dbo].[Transactie] CHECK CONSTRAINT [CK_Transactie_Status]
GO
USE [master]
GO
